.welcome-block {
    background-image: url('../images/main.jpg'); /* Путь к вашему изображению */
    background-size: cover; /* Покрытие всей области блока */
    background-position: center; /* Центрирование изображения */
    text-align: center;
    padding: 120px;
    color: white;
}

.form-input {
    width: 250px;
    font-size: 16px;
    border-radius: 5px;
}

.form-label{
    display: inline-block;
    min-width: 150px;
}

.form-error ul {
    list-style: none;
    padding: 0;
    color: #CC0000;
}

.form-button{
    min-width: 200px;
    font-size: 16px;
}

.button-opc:hover {
    opacity: 1 !important;
}


.rate{

	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;

}



.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center
}

.rating>input {
    display: none
}

.rating>label {
    position: relative;
    width: 1em;
    font-size: 30px;
    font-weight: 300;
    color: #FFD600;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}


.buttons{
	top: 36px;
    position: relative;
}


.rating-submit{
	border-radius: 15px;
	color: #fff;
	    height: 49px;
}


.rating-submit:hover{

	color: #fff;
}

.rating-index {
    font-size: 30px;
}

.rating-index .filled-star {
    color: gold;
}

.rating-index .empty-star {
    color: lightgray;
}
