{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="{% static 'siteApp/css/admin.css' %}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <title>{{title}}</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
    <header class="border-bottom">
        <nav class="navbar navbar-expand-lg navbar-light bg-light me-5 ms-5">
          <div class="container-fluid">
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
             </button>
            <div class="collapse navbar-collapse ms-5 me-5" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{% url 'home' %}">Главная</a>
                </li>
                <li class="nav-item ms-2 me-2">
                  <a class="nav-link" href="{% url 'product_list' %}" role="button" aria-expanded="false">
                    Ассортимент товаров
                  </a>
                </li>
                  {% if request.user.is_authenticated %}
                    <li class="nav-item ms-2 me-2">
                      <a class="nav-link" href="{% url 'cart' %}" role="button" aria-expanded="false">
                        Корзина
                      </a>
                    </li>
                  {% endif %}
                  {% if request.user.is_superuser %}
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="/admin">Admin-панель</a>
                    </li>
                  {% endif %}
              </ul>
              <span class="navbar-text">
                {% if request.user.is_authenticated %}
                    <li class="list-group-item last d-flex "><a class="opacity-75 nav-link me-2" href="{% url 'profile' %}">  {{user.username}} </a> | <a class="nav-link ms-1" href="{% url 'logout' %}">Выйти</a></li>
                {% else %}
                    <li class="list-group-item last d-flex"><a class="nav-link me-2" href="{% url 'register' %}">Регистрация</a> | <a class="nav-link ms-2" href="{% url 'login' %}">Войти</a></li>
                {% endif %}
              </span>
            </div>
          </div>
        </nav>
    </header>
    <main class="">
        {% block content %}
		{% endblock %}
    </main>
    <footer class="text-center text-lg-start bg-light text-muted">
        <section class="mt-4 border-top">
        <div class="container text-center text-md-start mt-5">
          <div class="row mt-3 text-center">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">
                <i class="fas fa-gem me-3"></i>Flowers-Donbass
              </h6>
              <p class="ms-3">
                Здесь вы можете узнать больше перейдя на следующие ссылки
              </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <h6 class="text-uppercase fw-bold mb-4">
                Полезные ссылки
              </h6>
              <p>
                <a href="#!" class="text-reset">О нас</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Права</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Записи</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Помощь</a>
              </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <h6 class="text-uppercase fw-bold mb-4 ms-3">Контакты</h6>
              <p><i class="fas fa-home me-3"></i> Донецк, ул. Артёма 111</p>
              <p>
                <i class="fas fa-envelope me-3"></i>
                flowers@mail.ru
              </p>
              <p><i class="fas fa-phone me-3"></i> + 7 949 --- -- --</p>
              <p><i class="fas fa-print me-3"></i> + 7 949 --- -- --</p>
            </div>
          </div>
        </div>
        </section>

        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2023
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'siteApp/js/add_cart.js' %}"></script>
    <script type="text/javascript" src="{% static 'siteApp/js/cart_ajax.js' %}"></script>
</body>
</html>