{% extends 'siteApp/base.html' %}

{% block content %}
<div class="container" style="width: 75%">
    <h2 class="mt-5">Корзина</h2>
    <div class="row">
        <div class="col-md-8 border-end">
            <ul>
                {% for item in cart.items.all %}
                    <li class="list-group-item d-flex align-items-center justify-content-between mt-4">
                        <img src="{{ item.product.photo.url }}" alt="{{ item.product.title }}" class="img-fluid" style="width: 100px; height: auto;">

                        <div class="flex-grow-1 ms-3">
                            <div>{{ item.product.title }}</div>
                            <div>{{ item.product.price }} руб. за шт.</div>
                        </div>

                        <div class="d-flex align-items-center">
                            <form class="d-flex align-items-center me-3" method="post" action="{% url 'remove_from_cart' item.id %}">
                                {% csrf_token %}
                                <input type="number" class="cart-item-quantity form-control form-control-sm me-2" data-item-id="{{ item.id }}" value="{{ item.quantity }}" style="width: 60px;">
                                <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                            </form>

                            <span class="badge bg-primary rounded-pill" id="total-for-item-{{ item.id }}">{{ item.total_price }} руб.</span>
                        </div>
                    </li>
                {% empty %}
                    <li class="list-group-item mt-3 text-danger"><h6>Ваша корзина пуста</h6></li>
                {% endfor %}
                {% if cart.items.exists %}
                    <form method="post" action="{% url 'clear_cart' %}" class="mt-4">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Очистить корзину</button>
                    </form>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-4 mt-4">
            <p>В корзине <span id="cart-items-count">{{ cart.items.count }}</span> товаров</p>
            <p><span class="fw-bold">Итоговая сумма: </span><span id="cart-total">{{ cart.total_price }}</span> руб.</p>
            {% if cart.items.count > 0 %}
                <a type="button" class="btn btn-warning" href="{% url 'create_order' %}">Оформить заказ</a>
            {% else %}
                <button type="button" class="btn btn-warning disabled">Оформить заказ</button>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
