{% extends 'siteApp/base.html' %}

{% block content %}
<div class="container mt-5 mb-5">
    <h2 class="mb-4">Оформление заказа</h2>
    <div class="row">
        <div class="col-md-6">
            <h4>Товары в заказе</h4>
            <ul class="list-group mb-3">
                {% for item in cart.items.all %}
                <li class="list-group-item d-flex align-items-center">
                    <img src="{{ item.product.photo.url }}" alt="{{ item.product.title }}" class="img-fluid me-3" style="width: 60px; height: auto;">
                    <div class="flex-grow-1">
                        <h5>{{ item.product.title }}</h5>
                        <p>Количество: {{ item.quantity }}</p>
                        <p>Цена: {{ item.product.price }} руб.</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <h5 class="text-end">Итоговая стоимость: {{ cart.total_price }} руб.</h5>
        </div>

        <div class="col-md-6">
            <form method="post" class="card p-4">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="address" class="form-label">Адрес доставки:</label>
                    <input type="text" class="form-control" name="address" required>
                </div>
                <div class="mb-3">
                    <label for="delivery_time" class="form-label">Время доставки:</label>
                    <input type="datetime-local" class="form-control" name="delivery_time" required>
                </div>
                <button type="submit" class="btn btn-warning">Оформить заказ</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
