{% extends 'siteApp/base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="text-center welcome-block">
        <h1>Добро пожаловать в наш интернет-магазин цветов!</h1>
        <p>Здесь вы найдете лучший ассортимент цветов и букетов для любого случая.</p>
    </div>

    <section class="container mt-5 mb-5">
        <h2>Популярные товары</h2>

        <div class="row">
        {% for product in popular_products %}
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4">
                <div class="card " style="height: 100%;">
                  <img src="{{ product.photo.url }}" type="button" class="card-img-top" alt="{{ product.title }}" style="height: 200px; object-fit: cover;"  data-bs-toggle="modal" data-bs-target="#productModal{{ product.id }}">
                  <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                      <div class="d-flex justify-content-between align-items-baseline">
                        <p class="card-text mb-3 mt-2">Цена: {{ product.price }} руб.</p>
                        {% if product.is_active %}
                          {% if user.is_authenticated %}
                            {% if product.id in cart_items %}
                                <button class="btn btn-secondary disabled">Уже в корзине</button>
                            {% else %}
                                <button type="button" class="btn btn-primary" data-product-id="{{ product.id }}" onclick="addToCart(this, {{ product.id }})">В корзину</button>
                            {% endif %}
                          {% else %}
                            <a class="text-success" href="{% url 'login' %}">Войти для заказа</a>
                          {% endif %}
                        {% endif %}
                      </div>
                      <p class="card-text">
                        {% if product.is_active %}
                            <span class="text-success">Есть в наличии</span>
                        {% else %}
                            <span class="text-danger">Нет в наличии</span>
                        {% endif %}
                    </p>
                  </div>

                </div>
            </div>
        {% endfor %}
        </div>

        <!-- Модальные окна для товара -->
        {% for product in popular_products %}
        <div class="modal fade" id="productModal{{ product.id }}" tabindex="-1" aria-labelledby="productModalLabel{{ product.id }}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg"> <!-- Изменено на modal-lg для большего размера -->
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productModalLabel{{ product.id }}">{{ product.title }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row">
                        <div class="col-md-6 text-center">
                            <!-- Фиксированный размер картинки -->
                            <img src="{{ product.photo.url }}" class="img-fluid" alt="{{ product.title }}" style="height: 300px; object-fit: cover;">
                        </div>
                        <div class="col-md-6">
                            <p><span class="fw-bold">Описание: </span>{{ product.description }}</p>
                            <p class="card-text mb-3 mt-2"><span class="fw-bold">Цена: </span>{{ product.price }} руб.</p>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        {% if product.is_active %}
                            <span class="text-success">Есть в наличии</span>
                            {% if user.is_authenticated %}
                                {% if product.id in cart_items %}
                                    <button class="btn btn-secondary disabled">Уже в корзине</button>
                                {% else %}
                                    <form method="post" action="{% url 'add_to_cart' product.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-primary">В корзину</button>
                                    </form>
                                {% endif %}
                            {% else %}
                                <a class="text-success" href="{% url 'login' %}">Войти для заказа</a>
                            {% endif %}
                        {% else %}
                            <span class="text-danger">Нет в наличии</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>

    <div class="container mt-5 mb-5">
        <h2>Отзывы довольных клиентов</h2>
        <div class="row">
            {% for feedback in latest_feedbacks %}
                <div class="col-lg-4 col-md-6 mt-4">
                    <div class="card" style="height: 100%;">
                        <img src="{{ feedback.product.photo.url }}" class="card-img-top" alt="{{ feedback.product.title }}" style="height: 250px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ feedback.product.title }}</h5>
                            <p class="card-text m-0">{{ feedback.comment }}</p>
                            <div class="rating-index">
                                {% for star in 1|to:6 %}
                                    <span class="{% if star <= feedback.rating %}filled-star{% else %}empty-star{% endif %}" id="{{ star }}">★</span>
                                {% endfor %}
                            </div>
                            <div class="blockquote-footer m-0">
                                {{ feedback.person.first_name }} <cite title="Дата доставки">{{ feedback.product.order_set.first.order_date|date:"Y-m-d" }}</cite>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}