{% extends 'siteApp/base.html' %}

{% block content %}
<div class="container mt-5">
    <!-- Поиск -->
    <form method="get" class="input-group mb-3">
        <input type="text" name="search" class="form-control" placeholder="Поиск товаров..." aria-label="Поиск товаров" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Поиск</button>
    </form>

    <!-- Фильтры -->
    <div class="filters mt-3">
        <form method="get" class="input-group">
            <!-- Сохранение текущего поискового запроса и категории -->
            <input type="hidden" name="search" value="{{ request.GET.search }}">
            <input type="hidden" name="category" value="{{ request.GET.category }}">

            <!-- Фильтр по наличию -->
            <select name="availability" class="form-select" onchange="this.form.submit()">
                <option value="">Выберите наличие</option>
                <option value="1">В наличии</option>
                <option value="0">Нет в наличии</option>
            </select>

             <!-- Фильтр по цене -->
            <input type="number" name="min_price" class="form-control" placeholder="Мин. цена" value="{{ min_price }}">
            <input type="number" name="max_price" class="form-control" placeholder="Макс. цена" value="{{ max_price }}">

            <!-- Скрытое поле для определения нажатия кнопки фильтра -->
            <input type="hidden" name="apply_filters" value="1">
            <button class="btn btn-outline-secondary" type="submit">Применить фильтры</button>

            <button type="submit" class="btn btn-secondary" name="reset_filters">Отменить фильтры</button>
        </form>
    </div>

    <!-- Категории -->
    <div class="categories mt-3">
        {% for category in categories %}
            <a href="?category={{ category.id }}" class="btn btn-outline-dark">{{ category.name }}</a>
        {% endfor %}
    </div>

    <!-- Товары -->
    <div class="row">
        {% if products %}
            {% for product in products %} <!-- Используйте переменную контекста для товаров -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 mt-4">
                    <div class="card" style="height: 100%;">
                        <img src="{{ product.photo.url }}" type="button" class="card-img-top" alt="{{ product.title }}" style="height: 200px; object-fit: cover;" data-bs-toggle="modal" data-bs-target="#productModal{{ product.id }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <div class="d-flex justify-content-between align-items-baseline">
                                <p class="card-text mb-3 mt-2">Цена: {{ product.price }} руб.</p>
                                {% if product.is_active %}
                                    {% if user.is_authenticated %}
                                        {% if product.id in cart_items %}
                                            <button class="btn btn-secondary disabled">Уже в корзине</button>
                                        {% else %}
                                            <button type="button" class="btn btn-primary" data-product-id="{{ product.id }}" onclick="addToCart(this, {{ product.id }})">В корзину</button>
                                        {% endif %}
                                    {% else %}
                                        <a class="text-success" href="{% url 'login' %}">Войти для заказа</a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <p class="card-text">
                                {% if product.is_active %}
                                    <span class="text-success">Есть в наличии</span>
                                {% else %}
                                    <span class="text-danger">Нет в наличии</span>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-12">
                <p class="text-center mt-4">По вашему запросу ничего не найдено.</p>
            </div>
        {% endif %}
    </div>

    <!-- Модальное окно для товара -->
    {% for product in products %}
    <div class="modal fade" id="productModal{{ product.id }}" tabindex="-1" aria-labelledby="productModalLabel{{ product.id }}" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg"> <!-- Изменено на modal-lg для большего размера -->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productModalLabel{{ product.id }}">{{ product.title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body row">
                    <div class="col-md-6 text-center">
                        <!-- Фиксированный размер картинки -->
                        <img src="{{ product.photo.url }}" class="img-fluid" alt="{{ product.title }}" style="height: 300px; object-fit: cover;">
                    </div>
                    <div class="col-md-6">
                        <p><span class="fw-bold">Описание: </span>{{ product.description }}</p>
                        <p class="card-text mb-3 mt-2"><span class="fw-bold">Цена: </span>{{ product.price }} руб.</p>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    {% if product.is_active %}
                        <span class="text-success">Есть в наличии</span>
                        {% if user.is_authenticated %}
                            {% if product.id in cart_items %}
                                <button class="btn btn-secondary disabled">Уже в корзине</button>
                            {% else %}
                                <form method="post" action="{% url 'add_to_cart' product.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary">В корзину</button>
                                </form>
                            {% endif %}
                        {% else %}
                            <a class="text-success" href="{% url 'login' %}">Войти для заказа</a>
                        {% endif %}
                    {% else %}
                        <span class="text-danger">Нет в наличии</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
