{% extends 'siteApp/base.html' %}
{% load custom_filters %}

{% block content %}
<div class="container mt-5" style="width: 85%">
    <div class="user-info pt-5">
        <h2>{{ user.username }}</h2>
        <div class="d-flex text-secondary">
            <p class="me-1">{{ user.first_name }} {{ user.last_name }} /</p>
            <p class="me-1">E-mail: {{ user.email }} /</p>
            <p>Номер: {{ user.phone }}</p>
        </div>
    </div>

    <div class="user-orders">
        <h2>Заказы</h2>
        <div class="d-flex justify-content-sm-between mb-3 text-center">
            <p style="width: 5%">#</p>
            <p style="width: 20%">Дата заказа</p>
            <p style="width: 10%">Статус</p>
            <p style="width: 35%">Товары</p>
            <p style="width: 10%">Адрес доставки</p>
            <p style="width: 20%">Время доставки</p>
        </div>
        {% for order in orders %}
            <div class="mb-4 border-top pt-3">
                <div class="order d-flex justify-content-sm-between">
                    <p style="width: 5%" class="text-center">{{ forloop.counter0 }}</p>
                    <p style="width: 20%">{{ order.order_date }}</p>
                    <p style="width: 10%">{% if order.status %}Доставлен{% else %}В обработке{% endif %}</p>
                    <p style="width: 35%">
                        {% for item in order.order_items.all %}
                            {{ item.product.title }}
                            {% if item.quantity and item.quantity > 1 %} - Количество: {{ item.quantity }}{% endif %}
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <p style="width: 10%">{{ order.delivery_address }}</p>
                    <p style="width: 20%">{{ order.order_date }}</p>

                </div>

                {% if not order.status %}
                    <div class="d-flex ms-5">
                    {% if order.can_modify %}
                        <div>
                            <button onclick="showEditForm('edit-form-{{ order.id }}')" class="btn btn-link text-primary button-opc opacity-75">Изменить время/адрес</button>

                            <form id="edit-form-{{ order.id }}" method="post" action="{% url 'edit_order' order.id %}" style="display: none;">
                                {% csrf_token %}
                                <input type="text" name="delivery_address" value="{{ order.delivery_address }}" placeholder="Адрес доставки" class="rounded me-2 p-1">
                                <input type="datetime-local" name="order_date" value="{{ order.order_date|date:'Y-m-d\TH:i' }}" placeholder="Время доставки" class="rounded me-2 p-1">
                                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                            </form>
                        </div>
                        <form method="post" action="{% url 'cancel_order' order.id %}">
                            {% csrf_token %}
                            <button type="submit" onclick="return confirmCancel()" class="btn btn-link text-danger button-opc opacity-75">Отменить заказ</button>
                        </form>
                    {% else %}
                        <p>Заказ уже в пути</p>
                    {% endif %}
                    </div>
                {% endif %}
                <div class="text-end">
                    {% for product in order.products.all %}
                        <div class="product-review">
                            {% if order.status %}
                                {% with order.product_reviews|get_item:product.id as review_info %}
                                    {% if review_info.has_review %}
                                        <p>Вы уже оценили {{ product.title }}. Рейтинг: {{ review_info.review_rating }}</p>
                                    {% else %}
                                        <a href="{% url 'create_review' product.id %}">Оставить отзыв на {{ product.title }}</a>
                                    {% endif %}
                                {% endwith %}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    function showEditForm(formId) {
        var form = document.getElementById(formId);
        form.style.display = 'flex';
    }

    function confirmCancel() {
        return confirm("Вы точно желаете отменить заказ?");
    }
</script>
{% endblock %}