{% extends 'siteApp/base.html' %}

{% block content %}
<div class="mt-5 mb-5">
    <h1 class="text-center mb-4">{{title}}</h1>

    <form method="post" class="text-center">
        {% csrf_token %}

        {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error text-danger">{{ f.errors }}</div>
        {% endfor %}

        <button type="submit" class="btn btn-secondary bg-light text-dark">Регистрация</button>
    </form>
</div>
{% endblock %}