{% extends 'siteApp/base.html' %}

{% block content %}
<div style="width: 50%" class="container mt-5 mb-5">
    <h1>Оставьте отзыв</h1>
    <form method="post">
        {% csrf_token %}
        <div class="rate py-3 mt-3 text-center">
                <h4 class="mb-0" for="rating">Оценка:</h4>
                <div class="rating" id="rating" class="form-control">
                    <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                </div>
        </div>

        <div class="mb-3">
            <label for="text">Комментарий:</label>
            <textarea name="comment" id="comment" class="form-control" rows="5"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Отправить отзыв</button>
    </form>
</div>
{% endblock %}
